<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="https://www.springframework.org/schema/data/mongo"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
  https://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.0.xsd
  https://www.springframework.org/schema/data/mongo https://www.springframework.org/schema/data/mongo/spring-mongo-1.5.xsd">
<!-- 
 <bean id="mongo">
		<prop 
 </bean> host="${dataSource.mongo.host}" port="${dataSource.mongo.port}"
  </mongo:mongo>

	<bean id="mongoCredentials" class="org.springframework.data.authentication.UserCredentials">
	    <constructor-arg name="username" value="#{mongoURI.username}" />
	    <constructor-arg name="password" value="#{new java.lang.String(mongoURI.password)}" />
	</bean>
	
	<bean class="com.mongodb.MongoURI" id="mongoURI">
	    <constructor-arg value="${soe.db.spring.data.mongo.url}"  />
	</bean>
	
	<bean class="com.mongodb.Mongo" id="mongo">
	    <constructor-arg ref="mongoURI" />
	</bean>

 	<mongo:mongo id="mongo" host="localhost" port="27017" />
	<mongo:db-factory id="mongoDbFactory" dbname="journaldev" mongo-ref="mongo" />


	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>

	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
 -->
</beans>